html{
    scroll-behavior: smooth;
}

body{
    /*font-family: 'Montserrat', sans-serif;*/


}


h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;


}
.border-style{
    border:1px solid #96128f;
    border-radius: 10px;
}
.hr-style{
    border: 2px dotted #0e0d0d;
    border-bottom: none;
    width: 50px;
}
.section-title{
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 5px;
}


/*header start*/






.banner-container{
/*    height: 100vh;*/
}

.navbar{
    padding: 1% 10%;
    background-color: rgba(0,0,0,0.1);
}

.navbar-icon{
    color: #96128f;
}
.navbar-brand img{
    width: 70px;
    height:auto;
}
.nav-link{
    padding: 5px;
    color: #96128f;
    margin: 10px;
    border-radius: 5px;
    transition:.4s;

}
.nav-link:hover{

    background: #96128f;
    color: white;
    transform: scale(1.1);



}
.banner-content{
    background: #e4d3cf;

}
.banner-content h1{

    text-align: center;
    color:#96128f;
    border: 2px solid #96128f;

    border-radius: 5px;



}




/*header-end*/


/*feature start*/

#feature{
    padding: 5% 10%;
    background: #e4d3cf;


}
.feature-col{
    border: 1px solid #96128f;
    border-radius:  7px;
    padding: 10px;
    margin:15px 0px;
   transition: .5s;
}
.feature-col:hover{
    border: 2px solid #96128f;
    transform: scale(1.1);
    box-shadow: 2px 4px 3px #3b3939;
}
.icon-style{
    background:#96128f ;
    color: white;
    padding: 15px;
    margin: 15px 0px;
}




/*feature end*/

/*About me section start here */

#about-me{
    padding: 4% 10%;

}
#about-me h5{
    padding: 10px 0px;
}

#about-me p{
    font-size: 1rem;
    font-weight: lighter;
    margin-bottom: 0px;

}
#about-me a{
    color: black;
    font-size:.9rem;
    font-weight: lighter;
    text-decoration: underline;

}
.ed:hover{
    background: #96128f;
    color: white;

}
/*About me section end here */
/*project start here*/

.pro{
   padding: 4% 5%;

    /*border-radius: 5px;*/

    /*border: 1px solid #a715a0;*/
}
.card{
    transition: .4s;
    border: 1px solid #a715a0;
}
.card:hover{
    transform: scale(1.1);
    box-shadow: 2px 6px 5px #8d1da0;
}





/*prject end here*/


/*feedback section start here*/

#feedback-section{

    background: #d9a39c;
}
.imst{
    width: 150px;
    height: 150px;
    padding: 3px;
    margin-bottom: 15px;

}
.carousel-item{
    text-align: center;
    padding: 8% 15%;
    padding-top: 2%;
    font-style: italic;
    font-size: 1.2rem;
}





/*feedback section start here*/


/*contact start here  */
#contact{
    margin-top: 10px;
    padding: 2% 5%;
    background: #e2bcb7;

}



/*contact end  here  */

.form-group label{
    margin-bottom: 0px;
    font-weight: bold;
}

/*footer section start*/

footer{
    padding:1% 15% ;
    background: #b67162;
    color: white;



}
footer a{
    color: white;
}

footer a:hover{
    color: #96128f;

}



/*footer section end*/





/*Login form design start here*/


.login-contain{

    padding: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(241, 168, 206);
}
.login_card{
    width: 380px;
    height: 480px;
    box-shadow: 3px 6px 5px #db38d1;
    color: #350333;

    perspective: 1000px;
}
.inner-box{
    position: relative;
    width: 100%;
    height: 100%;


    transform-style: preserve-3d;
    transition: transform 1s;
}
.front-side ,.backside{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position:center ;
    background-size: cover;
    background-image: linear-gradient( rgba(207, 54, 168, 0.8), rgba(200, 13, 148, 0.8)),url("image/logpic.jpg");
    padding: 55px;
    box-sizing: border-box;
    backface-visibility: hidden;



}
.backside{
    transform: rotateY(180deg);

}
.login_card h2{
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: white;

}
.input-hov:hover{
    font-weight: bold;
    transform: scale(.9);
    transition: .6s;
    background: white;
    color: #a715a0;

}
.box-input{
    width: 100%;
    background: transparent;
    height: 35px;
    border-radius: 20px;
    border: 2px solid #ffffff;
    margin: 6px 0px;
    padding: 0px 5px;
    box-sizing: border-box;
    text-align: center;
    outline: none;
    color: white;


}
::placeholder{
    color: white;
    font-size: 14px;
}
.new-here-btn{
    width: 100%;
    height: 35px;
    background: transparent;
    border-radius: 20px;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    text-align: center;
    outline: none;
    color: white;
    margin: 30px 0px;
    padding: 0px 5px;
    cursor: pointer;


}
.submit-btn{
   position: relative;
}
.submit-btn::after{
    content: '\27a4';
    color: #3e0948;
    background: white;
    line-height: 35px;
    font-size: 17px;
    height: 33px;
    width: 33px;
    border-radius: 50%;
    position: absolute;
    right: -1px;
    top: -1px;


}
span{
    font-size: 13px;
    margin-left: 10px;
    color: #e4d3cf;
}
.login_card a{
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 13px;
    margin-top: 10px;
}
.login_card a:hover{

    font-weight: bold;
    transform: scale(1.2);
    transition: .5s;



}

.ml-auto, mx-auto{
    margin-left: auto!important;
}



/*Login form design end here*/




